USE [master]
GO
/****** Object:  Database [EGood]    Script Date: 07/09/2026 19:53:39 ******/
CREATE DATABASE [EGood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EGood', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EGood.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EGood_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EGood_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EGood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EGood]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 07/09/2026 19:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MARCA_NOME] UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 07/09/2026 19:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CATEGORIA_NOME] UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEICULO]    Script Date: 07/09/2026 19:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEICULO](
	[id_veiculo] [int] IDENTITY(1,1) NOT NULL,
	[id_marca] [int] NOT NULL,
	[id_categoria] [int] NULL,
	[tipo] [varchar](30) NOT NULL,
	[modelo] [nvarchar](150) NOT NULL,
	[ano] [smallint] NULL,
	[preco] [decimal](12, 2) NOT NULL,
	[consumo_kwh_100km] [decimal](10, 3) NULL,
	[imagem] [nvarchar](500) NULL,
	[ativo] [bit] NOT NULL,
	[data_cadastro] [datetime2](0) NOT NULL,
	[id_concessionaria] [int] NULL,
 CONSTRAINT [PK_VEICULO] PRIMARY KEY CLUSTERED 
(
	[id_veiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_VEICULOS]    Script Date: 07/09/2026 19:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE VIEW [dbo].[VW_VEICULOS]
        AS
        SELECT
            v.id_veiculo,
            v.tipo,
            m.nome AS marca,
            v.modelo,
            v.ano,
            v.preco,
            v.consumo_kwh_100km,
            c.nome AS categoria,
            v.imagem,
            v.ativo,
            v.data_cadastro
        FROM dbo.VEICULO v
        INNER JOIN dbo.MARCA m
            ON m.id_marca = v.id_marca
        LEFT JOIN dbo.CATEGORIA c
            ON c.id_categoria = v.id_categoria;
    
GO
/****** Object:  Table [dbo].[CONCESSIONARIA]    Script Date: 07/09/2026 19:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONCESSIONARIA](
	[id_concessionaria] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[nome_empresa] [nvarchar](200) NOT NULL,
	[cnpj] [varchar](18) NOT NULL,
 CONSTRAINT [PK_CONCESSIONARIA] PRIMARY KEY CLUSTERED 
(
	[id_concessionaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CONCESSIONARIA_CNPJ] UNIQUE NONCLUSTERED 
(
	[cnpj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CONCESSIONARIA_USUARIO] UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIMULACAO]    Script Date: 07/09/2026 19:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIMULACAO](
	[id_simulacao] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[id_veiculo] [int] NOT NULL,
	[km_dia] [decimal](10, 2) NOT NULL,
	[consumo_kwh_100km] [decimal](10, 3) NOT NULL,
	[custo_energia_kwh] [decimal](10, 4) NOT NULL,
	[horas_sol_dia] [decimal](5, 2) NOT NULL,
	[potencia_painel_w] [decimal](10, 2) NOT NULL,
	[custo_sistema] [decimal](12, 2) NOT NULL,
	[consumo_kwh_dia] [decimal](12, 3) NULL,
	[consumo_kwh_mes] [decimal](12, 3) NULL,
	[custo_energia_dia] [decimal](12, 2) NULL,
	[custo_energia_mes] [decimal](12, 2) NULL,
	[geracao_painel_kwh_dia] [decimal](12, 3) NULL,
	[geracao_solar_kwh_mes] [decimal](12, 3) NULL,
	[quantidade_paineis] [int] NULL,
	[economia_mensal] [decimal](12, 2) NULL,
	[economia_anual] [decimal](12, 2) NULL,
	[tempo_retorno_anos] [decimal](10, 2) NULL,
	[data_simulacao] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_SIMULACAO] PRIMARY KEY CLUSTERED 
(
	[id_simulacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 07/09/2026 19:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[sobrenome] [nvarchar](100) NULL,
	[email] [nvarchar](255) NOT NULL,
	[senha_hash] [nvarchar](255) NOT NULL,
	[tipo_usuario] [varchar](20) NOT NULL,
	[data_cadastro] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_USUARIO_EMAIL] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SIMULACAO_USUARIO]    Script Date: 07/09/2026 19:53:40 ******/
CREATE NONCLUSTERED INDEX [IX_SIMULACAO_USUARIO] ON [dbo].[SIMULACAO]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SIMULACAO_VEICULO]    Script Date: 07/09/2026 19:53:40 ******/
CREATE NONCLUSTERED INDEX [IX_SIMULACAO_VEICULO] ON [dbo].[SIMULACAO]
(
	[id_veiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VEICULO_CATEGORIA]    Script Date: 07/09/2026 19:53:40 ******/
CREATE NONCLUSTERED INDEX [IX_VEICULO_CATEGORIA] ON [dbo].[VEICULO]
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VEICULO_MARCA]    Script Date: 07/09/2026 19:53:40 ******/
CREATE NONCLUSTERED INDEX [IX_VEICULO_MARCA] ON [dbo].[VEICULO]
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SIMULACAO] ADD  CONSTRAINT [DF_SIMULACAO_DATA]  DEFAULT (sysdatetime()) FOR [data_simulacao]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_DATA_CADASTRO]  DEFAULT (sysdatetime()) FOR [data_cadastro]
GO
ALTER TABLE [dbo].[VEICULO] ADD  CONSTRAINT [DF_VEICULO_ATIVO]  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[VEICULO] ADD  CONSTRAINT [DF_VEICULO_DATA_CADASTRO]  DEFAULT (sysdatetime()) FOR [data_cadastro]
GO
ALTER TABLE [dbo].[CONCESSIONARIA]  WITH CHECK ADD  CONSTRAINT [FK_CONCESSIONARIA_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[CONCESSIONARIA] CHECK CONSTRAINT [FK_CONCESSIONARIA_USUARIO]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [FK_SIMULACAO_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [FK_SIMULACAO_USUARIO]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [FK_SIMULACAO_VEICULO] FOREIGN KEY([id_veiculo])
REFERENCES [dbo].[VEICULO] ([id_veiculo])
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [FK_SIMULACAO_VEICULO]
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD  CONSTRAINT [FK_VEICULO_CATEGORIA] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[CATEGORIA] ([id_categoria])
GO
ALTER TABLE [dbo].[VEICULO] CHECK CONSTRAINT [FK_VEICULO_CATEGORIA]
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD  CONSTRAINT [FK_VEICULO_CONCESSIONARIA] FOREIGN KEY([id_concessionaria])
REFERENCES [dbo].[CONCESSIONARIA] ([id_concessionaria])
GO
ALTER TABLE [dbo].[VEICULO] CHECK CONSTRAINT [FK_VEICULO_CONCESSIONARIA]
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD  CONSTRAINT [FK_VEICULO_MARCA] FOREIGN KEY([id_marca])
REFERENCES [dbo].[MARCA] ([id_marca])
GO
ALTER TABLE [dbo].[VEICULO] CHECK CONSTRAINT [FK_VEICULO_MARCA]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [CK_SIMULACAO_CONSUMO] CHECK  (([consumo_kwh_100km]>(0)))
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [CK_SIMULACAO_CONSUMO]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [CK_SIMULACAO_CUSTO_ENERGIA] CHECK  (([custo_energia_kwh]>=(0)))
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [CK_SIMULACAO_CUSTO_ENERGIA]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [CK_SIMULACAO_CUSTO_SISTEMA] CHECK  (([custo_sistema]>=(0)))
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [CK_SIMULACAO_CUSTO_SISTEMA]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [CK_SIMULACAO_HORAS_SOL] CHECK  (([horas_sol_dia]>(0) AND [horas_sol_dia]<=(24)))
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [CK_SIMULACAO_HORAS_SOL]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [CK_SIMULACAO_KM] CHECK  (([km_dia]>(0)))
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [CK_SIMULACAO_KM]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [CK_SIMULACAO_PAINEIS] CHECK  (([quantidade_paineis] IS NULL OR [quantidade_paineis]>=(0)))
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [CK_SIMULACAO_PAINEIS]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [CK_SIMULACAO_POTENCIA] CHECK  (([potencia_painel_w]>(0)))
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [CK_SIMULACAO_POTENCIA]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [CK_SIMULACAO_RETORNO] CHECK  (([tempo_retorno_anos] IS NULL OR [tempo_retorno_anos]>=(0)))
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [CK_SIMULACAO_RETORNO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [CK_USUARIO_TIPO] CHECK  (([tipo_usuario]='ADMIN' OR [tipo_usuario]='CONCESSIONARIA' OR [tipo_usuario]='CLIENTE'))
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [CK_USUARIO_TIPO]
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD  CONSTRAINT [CK_VEICULO_ANO] CHECK  (([ano] IS NULL OR [ano]>=(1900) AND [ano]<=(2100)))
GO
ALTER TABLE [dbo].[VEICULO] CHECK CONSTRAINT [CK_VEICULO_ANO]
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD  CONSTRAINT [CK_VEICULO_CONSUMO] CHECK  (([consumo_kwh_100km] IS NULL OR [consumo_kwh_100km]>(0)))
GO
ALTER TABLE [dbo].[VEICULO] CHECK CONSTRAINT [CK_VEICULO_CONSUMO]
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD  CONSTRAINT [CK_VEICULO_PRECO] CHECK  (([preco]>=(0)))
GO
ALTER TABLE [dbo].[VEICULO] CHECK CONSTRAINT [CK_VEICULO_PRECO]
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD  CONSTRAINT [CK_VEICULO_TIPO] CHECK  (([tipo]='COMBUSTAO' OR [tipo]='HIBRIDO' OR [tipo]='ELETRICO'))
GO
ALTER TABLE [dbo].[VEICULO] CHECK CONSTRAINT [CK_VEICULO_TIPO]
GO
USE [master]
GO
